.wrapper {
    width: 100%;
    height: 70em;
    margin-top: 3em;
}

.left-box {
    width: 49%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.right-box {
    width: 49%;
    height: 100%;
    display: inline-block;
}

.today-info {
    height: 20%;
    padding-left: 7em;
 }

.dust-result {
    color: red;

}

.graph-header {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

.main-graph {
    height: 60%;
    /*margin-bottom: 3em;*/
    margin-top: 3em;
}

.circle-graph {
    width: 50em;
    height: 40em;
}

.bar-wrapper {
    text-align: center;
}

.bar-graph {
    width: 100%;
    height: 10%;
}

.msg {
    font-size: 2em;
    text-align: center;
}

.msg > h2 {
    font-size: 2.5em;
}

#bar-graph {
    background: linear-gradient(to left, #ed4264, #ffedbc);
}

.time-info {
    height: 100%;
    padding-top: 2em;
    padding-left: 8em;
}

.date-box {
    text-align: right;
    font-size: 2em;
}

.date-time-box {
    text-align: right;
    font-size: 5em;
}

.weather-box {
    padding-top: 3em;
    font-size: 2em;
}

.house-info {
    height: 80em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 2em;
    text-align: center;
    overflow: auto;
}
.house-info-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.house-item {
    margin-right: 2em;
    font-size: 2em;
    width: 10em;
}

.table-wrapper {
    padding-left: 10%;
}
.house-list {
    width: 90%;
}

.house-list > tbody> tr {
    height: 1em;
}
.table>tbody> tr> .house-item {
    border: none;
}

.noise-color {
    width: 1em;
    padding-bottom: 1em;
    background-color: red;
    display: inline-block;
    vertical-align: middle;
}

.room-number-box {
    width: 3.5em;
    padding-bottom: 1.0em;
    display: inline-block;
}

.room-number {
    display: inline-block;
}

.room-noti{
    width: 1em;
    height: 1em;
    float: right;
}

.modal-dialog {
    padding-top: 20em;
    text-align: center;
}

.modal-body {
    height: 5em;
    font-size: 2em;
}

.modal-title {
    font-size: 3em;
}

.modal-header {
    border-bottom: none;
}

.modal-header:before{
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 10%;
    top: 38%;
    border-bottom: 2px solid crimson;
}

